{% extends 'base.html.twig' %}

{% block title %}Connectez-vous !{% endblock %}

{% block monTitre %}Identifiez-vous, s'il vous plaît.{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >



        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Souvenez-vous de moi
            </label>
        </div>


        <button class="btn btn-success btn-block" type="submit">{{ button_label|default('Validez') }}</button>

</form>
<p><a href="{{path('app_forgot_password_request')}}"</a>Mot de passe oublié</p>

{% endblock %}
