{% extends 'base.html.twig' %}

{% block title %}Signalez un animal perdu{% endblock %}

{% block monTitre %}Inscrivez-vous pour signaler un animal perdu{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword)}}
        {{ form_row(registrationForm.nom)}}
        {{ form_row(registrationForm.prenom)}}
        {{ form_row(registrationForm.telephone)}}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn btn-success btn-block" type="submit">{{ button_label|default('Validez') }}</button>
        {{ form_end(registrationForm) }}
    

{% endblock %}
