{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block monTitre %}Il y a {{animaux | length}} avis de recherche{% endblock %}

{% block body %}

<div class="container">
    
    <div class="row flex">
        {% for animal in animaux %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('animal_show', {id: animal.id})}}">{{ animal.nom| badge }}</a>
                    </h5>
                    <p class="card-text">
                        {{ animal.commentaire }} </p>
                    <div class="text-primary">{{ animal.user}}</div>
                </div>
            </div>
        </div>
       

    </div>
</div>
{% endblock %}
