<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-body">
            <img src="uploads/photos/animal.png" alt="{{animal.nom}}">
            <h5 class="card-title">
                <a href="{{path('animal_show', {slug: animal.slug, id: animal.id})}}">{{ animal.nom | badge}}</a>
            </h5>
            <p class="card-text">
                {{ animal.commentaire }} </p>
           <div class="text-primary"><a class="btn btn-secondary btn-xs" href="{{ path('animal_show', {'id': animal.id}) }}">show</a>
                <a class="btn btn-info btn-xs" href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a></div>
        </div>
    </div>
</div>