{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                
                <th>Commentaire</th>
                <th>Created_at</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animaux %}
            <tr>
               
                <td>{{ animal.nom }}</td>
                
                <td>{{ animal.commentaire | u.truncate(10, '...', false) }}</td>
                <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ animal.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun animal perdu !!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('animal_new') }}">Signalez un animal perdu</a>

    {% include("partials/footer.html.twig") %}
  
{% endblock %}
