{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h2>{{animal.nom}}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Commentaire</th>
                <td>{{ animal.commentaire }}</td>
            </tr>
        </tbody>
    </table>
    {% if signalements|length > 0 %}
        <h4>{{animal.nom}}a été aperçu le {{signalement.created_at}} à {{signalement.lieu}}
             par{{ signalement.user|signalement.membre}}.</h4>
    {% else %}
        <div>Aucun signalement pour {{animal.nom}}</div>
    {% endif %}
 

    <a href="{{ path('animal_index') }}">back to list</a>

    <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
