{% extends 'base.html.twig' %}

{% block title %} {{animal.nom}}{% endblock %}

{% block body %}
    <h2>Avis de recherche de {{animal.nom}}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Commentaire</th>
                <td>{{ animal.commentaire }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('accueil') }}">Accueil</a>

    <a href="{{ path('animal_index') }}">Liste des avis de recherche</a>

    <a href="{{ path('animal_edit', {'id': animal.id}) }}">modification d'un avis de recherche</a>

    <a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de vouloir supprimer cet avis de recherhce ?') && 
    document.getElementById('js-animal-supprimer-form').submit();">Supprimer un avis de recherche</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
